.btns{
    border:1px solid grey;
    border-radius: 4rem;
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    margin-left: 10rem;
    /* align-items: flex-start; */
    justify-content: flex-end;
    
    /* margin-top: -100rem; */
}
.row{
    margin-left: 20rem;
    margin-right: 10rem;
}
img{
    border-radius: 1rem;
    margin-top: 1rem;
    width:20%;
     height: 40%;
}
#box{
    border: 1px solid grey;
    box-shadow:  1px 2px  20px grey;
}

@media (max-width:768px){
    img{
        border-radius: 5rem;
        margin-top: 1rem;
        width:40%; 
        height: 30%;
    }
}
.row{
    margin-left: 1rem;
    margin-right: 1rem;
}